<%- include("./templates/header", {title: "Inicio"}) %>

<body>
    <!-- navbar of the page! -->
    <%- include("./templates/nav")%>

    <!-- info part! -->
    <div class="container-info">
        <section class="info">
            <h1> ContactApi! </h1>
            <p> Esta Api fue desarrollada por On3l7d15h, con el fin, de que desarrolladores, puedan usarla para crear
                agendas y poder listar personas en la misma, este se llena solo con 3 campos, algunas características
                son: </p>
            <ul>
                <li> fácil y accesible! </li>
                <li> gratuita! </li>
                <li> útil para práctica de fetch! </li>
            </ul>
        </section>
        <!-- Image part -->
        <section class="img">
            <img src="images/index-image.jpeg" alt="preview">
        </section>
    </div>

<%- include("./templates/footer")%>